{
  "cn": {
    "sql": "Server=db-mssql,1433;Database=db_security;User Id=sa;Password=Aforo255#2050;Trust Server Certificate=true;",
    "mysql": "server=db-mysql;port=3306;database=db_operation;user=root;password=Aforo255#2050",
    "postgres": "Server=db-postgres;Port=5432;Database=db_invoice;User Id=postgres;Password=Aforo255#2050;",    
    "mongo": "mongodb://aforo255:Aforo255#2050@db-mongo:27017",
    "env": "docker"
  }
}